<h2 style="margin: 30px auto">Profile</h2>

<table class="table table-striped alignmiddle" style="text-align: center">
  <tr class="table-secondary">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
    <th>Bio</th>
  </tr>
  <tr class="table-light">
    <td class="td-profile"><%= currentUser.firstName %></td>
    <td class="td-profile"><%= currentUser.lastName %></td>
    <td class="td-profile"><%= currentUser.emailAddress %></td>
    <td class="td-profile"><%= currentUser.bio %></td>
    <img src="<%= currentUser.pfp.url %>" alt="<%= currentUser.pfp %>" onchange="previewImage(event)">
    <td>
      <a href="/user/edit?id=<%= currentUser._id %>">Edit</a>
    </td>
  </tr>
</table>

<script>
  function previewImage(event) {
    var input = event.target;
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('imagePreview').src = e.target.result;
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>